---
import { getCollection, getEntry, render } from "astro:content"
import BaseLayout from "../../layouts/BaseLayout.astro"

export async function getStaticPaths() {
  // TODO
  const articles = await getCollection("articles")
  return articles.map(({ id }) => ({
    params: { slug: id },
  }))
}

const { slug } = Astro.params
const article = await getEntry("articles", slug)
const { Content, headings } = await render(article!)
console.log(headings)
---

<BaseLayout>
  <main class="pt-24 text-base">
    <h1 class="mb-8 text-center text-5xl">{article?.data.title}</h1>
    <article class="prose dark:prose-invert max-w-none">
      <Content />
    </article>
  </main>
</BaseLayout>
