---

---

<div
  class="flex flex-wrap gap-4 content-start bg-neutral-300/20 relative p-8 sm:p-12 border sm:aspect-square md:aspect-auto lg:aspect-[3/1] border-neutral-400/30 rounded-xl shadow-sm overflow-hidden"
>
  <div class="image-container flex w-full h-full items-center flex-1">
    <div class="flex flex-wrap max-w-[512px] gap-8 relative z-10">
      <span class="block font-heading text-xl sm:text-3xl"> Looking for an awesome group of people to work with. </span>
      <a
        href="#"
        class="block text-xl sm:text-3xl font-bold hover:underline hover:decoration-wavy text-primary-500 underline-offset-4"
      >
        Let's Connect!
      </a>
    </div>
    <div class="absolute flex w-full h-full inset-y-0 right-0 max-w-96 left-40 sm:left-auto">
      <span class="bg-gradient-to-r absolute from-[#e1e1e1] to-transparent block w-full h-full"></span>
      <span class="block w-full object-contain bg-pattern one bg-contain"></span>
    </div>
  </div>
</div>
