---
import { clsx } from 'clsx'
interface Props {
  variant?: 'primary' | 'secondary' | 'black' | 'outline' | 'text' | 'white'
  href?: string
  target?: Pick<HTMLLinkElement, 'target'>
}
const baseClasses = [
  'inline-flex',
  'w-full',
  'cursor-pointer',
  'items-center',
  'border',
  'border-primary-400/80',
  'justify-center',
  'gap-3',
  'rounded-lg',
  'px-6',
  'py-2',
  'font-semibold',
  'text-secondary-500',
  'transition-colors',
  'duration-300',
  'hover:bg-primary-800',
  'hover:text-white',
  'md:w-auto',
]
const { variant = 'primary', href, target = '_self' } = Astro.props
---

<a
  href={href}
  target={target}
  class={clsx(baseClasses, {
    'bg-primary-500 text-white': variant === 'primary',
    'bg-secondary-400 text-white': variant === 'secondary',
    'border border-secondary-500 bg-transparent hover:bg-secondary-500 text-secondary-500 hover:text-white':
      variant === 'outline',
    '': variant === 'black',
    'bg-white text-primary-500 hover:bg-secondary-500 hover:text-white': variant === 'white',
    'text-white duration-200 hover:text-primary-500 focus:outline-none focus-visible:outline-gray-600 bg-transparent border-transparent hover:border-transparent hover:bg-transparent':
      variant === 'text',
  })}
>
  <slot />
</a>
