---

---

<div
  class="flex flex-wrap gap-4 content-start bg-neutral-300/20 relative p-8 sm:p-12 border aspect-video md:aspect-[3/1] border-neutral-400/30 rounded-xl shadow-sm overflow-hidden"
>
  <div
    class="image-container absolute flex w-full h-full inset-y-0 bottom-0 items-center right-0 flex-1 bg-[conic-gradient(at_bottom_left,_var(--tw-gradient-stops))] from-primary-400 via-primary-800 to-primary-200"
  >
    <span class="block bg-pattern one"></span>
  </div>
</div>
