---
import CustomLink from './CustomLink.astro'
import Logo from './Logo.astro'
---

<header class="py-4">
  <div class="max-w-4xl mx-auto px-8 flex items-center justify-between">
    <div class="flex items-center">
      <h1 class="flex">
        <a
          class="font-black text-2xl text-primary hover:text-primary-500 transition duration-500 flex items-center"
          href="/"
        >
          <Logo />
          <span class="sr-only">bent-o</span>
        </a>
      </h1>
    </div>
    <div class="inline-flex items-center gap-2 list-none space-x-2">
      <CustomLink href="#"> Download bent-o </CustomLink>
    </div>
  </div>
</header>
