@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/white-alpha.css";
/* Supporting colors (callouts..etc) */
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-dark-alpha.css";
@import "@radix-ui/colors/amber-dark.css";

@import "@radix-ui/colors/indigo-alpha.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-dark-alpha.css";
@import "@radix-ui/colors/indigo-dark.css";

@import "@radix-ui/colors/grass-alpha.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/grass-dark-alpha.css";
@import "@radix-ui/colors/grass-dark.css";

@import "./palette/olive.css";
@import "./palette/lime.css";

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*           Semantic colors           */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

:root {
  /* Page Backgrounds */
  --pagebg-main: white;
  --pagebg-alternative: var(--color-gray-1);
  --pagebg-secondary: var(--color-gray-2);

  /* Backgrounds */
  --bg-overlay: var(--black-a6);
  --bg-panel-solid: var(--color-gray-3); /* use for plates, muted backgrounds */
  --bg-panel-translucent: var(--color-gray-a3);
  --bg-surface: oklch(1 0 0); /* used for 'cards' */

  --bg-accent-soft: var(--color-accent-3);
  --bg-accent-bold: var(--color-accent-9);

  /* Content, Icons */
  --cnt-primary: var(--color-gray-12);
  --cnt-secondary: var(--color-gray-11);
  --cnt-tertiary: var(--color-gray-9);
  --cnt-on-bold: var(--color-white-a12);

  /*--cnt-accent: var(--lime-11);*/
  /*--cnt-info: var(--sky-11);*/

  /* Borders */
  --brd-main: var(--color-gray-6);
  --brd-alternative: var(--color-gray-7);
  --brd-ring: var(--color-gray-8);

  --codeblack-frame-shadow-color: var(--color-gray-a5);

  --brd-ring-accent: var(--lime-8);
  /*--brd-info: var(--sky-8);*/
  /*--brd-success: #128700;*/
  /*--brd-warning: #e32d00;*/
  /*--brd-danger: #e00018;*/

  /** TODO: State Tokens **/
  /* Contents */
  /*--cnt-accent-hover: #7910ff;
    --cnt-accent-pressed: #7910ff;
    --cnt-info-hover: #0068d6;
    --cnt-info-pressed: #0063cc;
    --cnt-success-hover: #0c7e3a;
    --cnt-success-pressed: #0b7938;
    --cnt-warning-hover: #c23d00;
    --cnt-warning-pressed: #c23d00;
    --cnt-danger-hover: #d60017;
    --cnt-danger-pressed: #cc0016;*/

  /* Backgrounds */
  /*--bg-main-hover: #f1f1f3;
    --bg-main-pressed: #ebebed;
    --bg-alternative-hover: #eeeef2;
    --bg-alternative-pressed: #e5e5eb;*/

  /*--bg-accent-soft-hover: #ebdbff;
    --bg-accent-soft-pressed: #e8d6ff;
    --bg-info-soft-hover: #e0f0ff;
    --bg-info-soft-pressed: #d6ebff;
    --bg-success-soft-hover: #e6faef;
    --bg-success-soft-pressed: #e6faef;
    --bg-warning-soft-hover: #ffede0;
    --bg-warning-soft-pressed: #ffeadb;
    --bg-danger-soft-hover: #ffe5e8;
    --bg-danger-soft-pressed: #ffdbdf;*/

  /*--bg-accent-bold-hover: #6000db;
    --bg-accent-bold-pressed: #4c00ad;
    --bg-info-bold-hover: #0051f5;
    --bg-info-bold-pressed: #0047d3;
    --bg-success-bold-hover: #0a7034;
    --bg-success-bold-pressed: #09672f;
    --bg-warning-bold-hover: #e55500;
    --bg-warning-bold-pressed: #d14d00;
    --bg-danger-bold-hover: #b80014;
    --bg-danger-bold-pressed: #a30011;*/
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(:not(.light, .light-theme)) {
  /* Page Backgrounds */
  --pagebg-main: #040506;
  /*--pagebg-alternative: var(--color-gray-1);*/
  /*--pagebg-secondary: var(--color-gray-2);*/

  /*--ds-overlay: var(--black-a8);*/
  /*--ds-panel-solid: var(--gray-2);*/
  /*--ds-panel-translucent: var(--gray-a2);*/
  /*--ds-surface: rgba(0, 0, 0, 0.25);*/

  --codeblack-frame-shadow-color: var(--black-a9);
}

:root {
  --gray-1: var(--olive-1);
  --gray-2: var(--olive-2);
  --gray-3: var(--olive-3);
  --gray-4: var(--olive-4);
  --gray-5: var(--olive-5);
  --gray-6: var(--olive-6);
  --gray-7: var(--olive-7);
  --gray-8: var(--olive-8);
  --gray-9: var(--olive-9);
  --gray-10: var(--olive-10);
  --gray-11: var(--olive-11);
  --gray-12: var(--olive-12);

  --gray-a1: var(--olive-a1);
  --gray-a2: var(--olive-a2);
  --gray-a3: var(--olive-a3);
  --gray-a4: var(--olive-a4);
  --gray-a5: var(--olive-a5);
  --gray-a6: var(--olive-a6);
  --gray-a7: var(--olive-a7);
  --gray-a8: var(--olive-a8);
  --gray-a9: var(--olive-a9);
  --gray-a10: var(--olive-a10);
  --gray-a11: var(--olive-a11);
  --gray-a12: var(--olive-a12);

  --gray-contrast: var(--olive-contrast);
  --gray-surface: var(--olive-surface);
  --gray-indicator: var(--olive-indicator);
  --gray-track: var(--olive-track);

  --accent-1: var(--lime-1);
  --accent-2: var(--lime-2);
  --accent-3: var(--lime-3);
  --accent-4: var(--lime-4);
  --accent-5: var(--lime-5);
  --accent-6: var(--lime-6);
  --accent-7: var(--lime-7);
  --accent-8: var(--lime-8);
  --accent-9: var(--lime-9);
  --accent-10: var(--lime-10);
  --accent-11: var(--lime-11);
  --accent-12: var(--lime-12);

  --accent-a1: var(--lime-a1);
  --accent-a2: var(--lime-a2);
  --accent-a3: var(--lime-a3);
  --accent-a4: var(--lime-a4);
  --accent-a5: var(--lime-a5);
  --accent-a6: var(--lime-a6);
  --accent-a7: var(--lime-a7);
  --accent-a8: var(--lime-a8);
  --accent-a9: var(--lime-a9);
  --accent-a10: var(--lime-a10);
  --accent-a11: var(--lime-a11);
  --accent-a12: var(--lime-a12);

  --accent-contrast: var(--lime-contrast);
  --accent-surface: var(--lime-surface);
  --accent-indicator: var(--lime-indicator);
  --accent-track: var(--lime-track);
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            Transparency             */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

/* Because Chrome is buggy with box-shadow transitions from "transparent" keyword and/or RGB color into P3 colors. */
/* Note: using `:where` here to guarantee that the P3 color will take over regardless of the output rule order. */
/*:where(.creightit) {
  --color-transparent: rgb(0 0 0 / 0);
}
@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .creightit {
      --color-transparent: color(display-p3 0 0 0 / 0);
    }
  }
}*/

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*         Background and text         */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

:root {
  color: var(--color-cnt-primary);
  &:where([data-has-background="true"]) {
    background-color: var(--color-background);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*   Focus, selection, and autofill    */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

:root {
  --focus-1: var(--color-accent-1);
  --focus-2: var(--color-accent-2);
  --focus-3: var(--color-accent-3);
  --focus-4: var(--color-accent-4);
  --focus-5: var(--color-accent-5);
  --focus-6: var(--color-accent-6);
  --focus-7: var(--color-accent-7);
  --focus-8: var(--color-accent-8);
  --focus-9: var(--color-accent-9);
  --focus-10: var(--color-accent-10);
  --focus-11: var(--color-accent-11);
  --focus-12: var(--color-accent-12);

  --focus-a1: var(--color-accent-a1);
  --focus-a2: var(--color-accent-a2);
  --focus-a3: var(--color-accent-a3);
  --focus-a4: var(--color-accent-a4);
  --focus-a5: var(--color-accent-a5);
  --focus-a6: var(--color-accent-a6);
  --focus-a7: var(--color-accent-a7);
  --focus-a8: var(--color-accent-a8);
  --focus-a9: var(--color-accent-a9);
  --focus-a10: var(--color-accent-a10);
  --focus-a11: var(--color-accent-a11);
  --focus-a12: var(--color-accent-a12);
}

:root ::selection {
  background-color: var(--focus-a5);
}
