@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/gold-alpha.css";
@import "@radix-ui/colors/gold-dark.css";
@import "@radix-ui/colors/gold-dark-alpha.css";

:root {
  /** Base Tokens **/
  /* Contents */
  --cnt-primary: var(--gold-12);
  --cnt-secondary: var(--gold-11);
  --cnt-tertiary: var(--gold-9);
  --cnt-on-bold: #ffffff;

  --cnt-accent: var(--lime-11);
  --cnt-info: var(--sky-11);
  /*--cnt-success: #128700;*/
  /*--cnt-warning: #e32d00;*/
  /*--cnt-danger: #e00018;*/

  /* Backgrounds */
  --bg-main: var(--gold-3);
  --bg-alternative: var(--gold-4);

  --bg-accent-soft: var(--lime-3);
  --bg-info-soft: var(--sky-3);
  /*--bg-success-soft: #e6faef;*/
  /*--bg-warning-soft: #fff3eb;*/
  /*--bg-danger-soft: #fff0f1;*/
  /*--bg-danger-soft: #fff0f1;*/

  --bg-accent-bold: var(--lime-9);
  --bg-info-bold: var(--sky-9);
  /*--bg-success-bold: #0c823c;*/
  /*--bg-warning-bold: #fa5c00;*/
  /*--bg-danger-bold: #d50017;*/

  /* Borders */
  --brd-main: var(--gold-6);
  --brd-alternative: var(--gold-7);

  --brd-accent: var(--lime-8);
  --brd-info: var(--sky-8);
  /*--brd-success: #128700;*/
  /*--brd-warning: #e32d00;*/
  /*--brd-danger: #e00018;*/

  /* Page Backgrounds */
  --pagebg-main: var(--gold-2);
  --pagebg-alternative: var(--gold-1);

  /* TODO -———————————————————————————————————————————- */

  /** State Tokens **/
  /* Contents */
  /*--cnt-accent-hover: #7910ff;
  --cnt-accent-pressed: #7910ff;
  --cnt-info-hover: #0068d6;
  --cnt-info-pressed: #0063cc;
  --cnt-success-hover: #0c7e3a;
  --cnt-success-pressed: #0b7938;
  --cnt-warning-hover: #c23d00;
  --cnt-warning-pressed: #c23d00;
  --cnt-danger-hover: #d60017;
  --cnt-danger-pressed: #cc0016;*/

  /* Backgrounds */
  /*--bg-main-hover: #f1f1f3;
  --bg-main-pressed: #ebebed;
  --bg-alternative-hover: #eeeef2;
  --bg-alternative-pressed: #e5e5eb;*/

  /*--bg-accent-soft-hover: #ebdbff;
  --bg-accent-soft-pressed: #e8d6ff;
  --bg-info-soft-hover: #e0f0ff;
  --bg-info-soft-pressed: #d6ebff;
  --bg-success-soft-hover: #e6faef;
  --bg-success-soft-pressed: #e6faef;
  --bg-warning-soft-hover: #ffede0;
  --bg-warning-soft-pressed: #ffeadb;
  --bg-danger-soft-hover: #ffe5e8;
  --bg-danger-soft-pressed: #ffdbdf;*/

  /*--bg-accent-bold-hover: #6000db;
  --bg-accent-bold-pressed: #4c00ad;
  --bg-info-bold-hover: #0051f5;
  --bg-info-bold-pressed: #0047d3;
  --bg-success-bold-hover: #0a7034;
  --bg-success-bold-pressed: #09672f;
  --bg-warning-bold-hover: #e55500;
  --bg-warning-bold-pressed: #d14d00;
  --bg-danger-bold-hover: #b80014;
  --bg-danger-bold-pressed: #a30011;*/
}

.dark {
  /* Page Backgrounds */
  --pagebg-main: var(--gold-1);
  --pagebg-alternative: var(--gold-2);
}

:root {
  color: var(--cnt-primary);
}

*,
::before *,
::after * {
  border-color: var(--brd-main);
}
