---
import Layout from '../layouts/Layout.astro'
import CtaCard from '../components/CtaCard.astro'
import InstagramCard from '../components/InstagramCard.astro'
import GithubCard from '../components/GithubCard.astro'
import TwitterCard from '../components/TwitterCard.astro'
import QuoteCard from '../components/QuoteCard.astro'
import FeaturedCard from '../components/FeaturedCard.astro'
import ContactCard from '../components/ContactCard.astro'
---

<Layout title="Welcome to Astro.">
  <div class="max-w-4xl mx-auto w-full px-8 pt-4">
    <div class="grid grid-cols-6 gap-4">
      <article class="col-span-6 md:col-span-4 row-span-2">
        <CtaCard />
      </article>
      <article class="col-span-6 sm:col-span-3 md:col-span-2 row-span-1">
        <InstagramCard />
      </article>
      <article class="col-span-6 sm:col-span-3 md:col-span-2 row-span-1">
        <GithubCard />
      </article>
      <div class="col-span-6 sm:col-span-2">
        <a
          href="#"
          class="flex flex-wrap gap-4 content-start bg-primary-500 relative py-4 px-12 border border-neutral-400/30 rounded-xl shadow-sm overflow-hidden hover:bg-primary-800 transition-colors duration-300"
        >
          <div class="content w-full text-white text-center">
            <span class="font-bold">About</span>
          </div>
        </a>
      </div>
      <div class="col-span-6 sm:col-span-2">
        <a
          href="#"
          class="flex flex-wrap gap-4 content-start bg-neutral-300/20 relative py-4 px-12 border border-neutral-400/30 rounded-xl shadow-sm overflow-hidden hover:bg-primary-800 hover:text-white transition-colors duration-300"
        >
          <div class="content w-full text-center">
            <span class="font-bold">Works</span>
          </div>
        </a>
      </div>
      <div class="col-span-6 sm:col-span-2">
        <a
          href="#"
          class="flex flex-wrap gap-4 content-start bg-primary-500 relative py-4 px-12 border border-neutral-400/30 rounded-xl shadow-sm overflow-hidden hover:bg-primary-800 transition-colors duration-300"
        >
          <div class="content w-full text-white text-center">
            <span class="font-bold">Contact</span>
          </div>
        </a>
      </div>
      <article class="col-span-6 sm:col-span-3 lg:col-span-2">
        <TwitterCard />
      </article>
      <article class="col-span-6 sm:col-span-3 lg:col-span-4">
        <QuoteCard />
      </article>
      <article class="col-span-6">
        <FeaturedCard />
      </article>
      <article class="col-span-6">
        <ContactCard />
      </article>
    </div>
  </div>
</Layout>
