@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/white-alpha.css";
@import "./olive.css";
@import "./lime.css";

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--geist-sans-font);
  --font-mono: var(--geist-mono-font);
  --font-display: var(--visby-font);

  /* content (text, icons) */
  --color-cnt-primary: var(--olive-12);
  --color-cnt-secondary: var(--olive-11);
  --color-cnt-supportive: var(--olive-9);

  /* backgrounds */
  --color-page: var(--page-background);
  --color-surface: var(--bg-surface);

  /* borders */
  --color-brd-line: var(--olive-5);
  --color-brd-control: var(--olive-7);
}

@layer utilities {
  .bg-grid-pattern {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23cccfcc' fill-opacity='0.35' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }

  /* Assuming you use the 'dark' class strategy */
  .dark .bg-grid-pattern {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23454943' fill-opacity='0.35' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
}

@layer base {
  :root {
    --page-background: var(--olive-2);
    --bg-surface: var(--white-a12);
  }
  .dark {
    --page-background: var(--olive-1);
    --bg-surface: var(--olive-a2);
  }
  *,
  *::before,
  *::after {
    @apply border-brd-line ring-brd-line outline-brd-line;
  }
  body {
    @apply text-cnt-primary;
    word-wrap: break-word;
  }
}
