---
import { getCollection, getEntry, render } from "astro:content"
import Layout from "../layouts/Layout.astro"
import NarrowWrapper from "../layouts/NarrowWrapper.astro"
import BaseHead from "../components/BaseHead.astro"

export async function getStaticPaths() {
  // TODO
  const articles = await getCollection("articles")
  return articles.map(({ id }) => ({
    params: { slug: id },
  }))
}

const { slug } = Astro.params
const article = await getEntry("articles", slug)
const { Content, headings } = await render(article!)
---

<Layout>
  <BaseHead slot="head" title={article?.data.title} />
  <NarrowWrapper>
    <Fragment class="pt-24 text-base">
      <h1 class="font-display mb-8 text-center text-5xl">
        {article?.data.title}
      </h1>
      <article
        class="prose prose-headings:font-display dark:prose-invert max-w-none"
      >
        <Content />
      </article>
    </Fragment>
  </NarrowWrapper>
</Layout>
