---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"

const posts = [
  ["Theme Guide", "2025.07.10"],
  ["Markdown Style Guide", "2025.06.28"],
  ["Embedded Content", "2025.06.06"],
  ["Katex Examples", "2025.05.19"],
  ["Using MDX", "2025.05.12"],
  ["The TR-808 Story", "2025.05.10"],
]
---

<Layout>
  <Hero />
  <ul class="mt-12 flex flex-col gap-y-6">
    {
      posts.map(([title, date]) => (
        <div class="flex items-center gap-x-4">
          <div class="relative flex justify-start">
            <h2 class="text-base font-medium whitespace-nowrap">{title}</h2>
          </div>
          <div aria-hidden="true" class="w-full border-t  border-brd-main" />
          <span class="text-cnt-secondary">{date}</span>
        </div>
      ))
    }
  </ul>
</Layout>
