---
import Layout from "../layouts/Layout.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="flex flex-1 flex-col gap-4 py-10">
    <div class="bg-panel-solid mx-auto h-24 w-full max-w-3xl rounded-2xl"></div>
    {
      Array.from({ length: 14 }).map((_, index) => (
        <div class="bg-panel-solid aspect-video h-12 w-full rounded-lg" />
      ))
    }
  </div>
</Layout>
