---
import { getCollection } from "astro:content"
import { compareDesc, format } from "date-fns"
import BaseHead from "../components/BaseHead.astro"
import Layout from "../layouts/Layout.astro"
import NarrowWrapper from "../layouts/NarrowWrapper.astro"
import Hero from "../components/Hero.astro"

const posts = [
  ["Theme Guide", "2025.07.10"],
  ["Markdown Style Guide", "2025.06.28"],
  ["Embedded Content", "2025.06.06"],
  ["Katex Examples", "2025.05.19"],
  ["Using MDX", "2025.05.12"],
  ["The TR-808 Story", "2025.05.10"],
]

const articles = (await getCollection("articles"))
  .sort((a, b) => compareDesc(a.data.pubDate, b.data.pubDate))
  .reduce(
    (acc, article) => {
      const title = article.data.title
      const date = format(article.data.pubDate, "yyyy-MM-dd")
      const slug = article.id
      acc.push({ title, date, slug })
      return acc
    },
    [] as { title: string; date: string; slug: string }[],
  )
---

<Layout>
  <BaseHead title="Home" slot="head" />
  <NarrowWrapper>
    <Hero />
    <ul class="group mt-5 flex flex-col">
      {
        articles.map(({ title, date, slug }) => (
          <li class="py-2.5 transition-all duration-200 ease-[cubic-bezier(0.61,1,0.88,1)] group-hover:not-hover:opacity-35">
            <a href={`/articles/${slug}`} class="debug">
              <div class="flex items-center gap-x-4">
                <div class="relative flex justify-start">
                  <h2 class="font-headings font-medium whitespace-nowrap">
                    {title}
                  </h2>
                </div>
                <div aria-hidden="true" class="border-gray-5 w-full border-t" />
                <span class="text-cnt-secondary font-mono text-sm">
                  {date.replace(/-/g, ".")}
                </span>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </NarrowWrapper>
</Layout>
