---
const today = new Date()
---

<footer class="text-cnt-tertiary mt-16 text-sm leading-7">
  <div class="flex w-full flex-nowrap items-center justify-between">
    <div class="whitespace-nowrap">
      <span class="date">
        &copy;
        {today.getFullYear()}
      </span>
      Bitwhys
    </div>
    <div class="flex items-center gap-x-2.5 whitespace-nowrap">
      <a href="#">RSS</a>
      <a href="#">Now</a>
    </div>
  </div>
</footer>
