---
const today = new Date()
---

<footer class="text-sm leading-7 text-cnt-tertiary mt-16">
  <div class="flex justify-between items-center flex-nowrap w-full">
    <div class="whitespace-nowrap">
      <span class="date">
        &copy;
        {today.getFullYear()}
      </span>
      Bitwhys
    </div>
    <div class="whitespace-nowrap flex items-center gap-x-2.5">
      <a href="#">RSS</a>
      <a href="#">Now</a>
    </div>
  </div>
</footer>
