---
import ThemeToggle from "./ThemeToggle.astro"
---

<header>
  <div class="flex items-center justify-between">
    <ThemeToggle />
    <nav class="ml-auto space-x-6 text-base font-medium">
      <a href="/">Articles</a>
      <a href="/notes">Notes</a>
    </nav>
  </div>
</header>
