---
import ThemeToggle from "./ThemeToggle.astro"
---

<header>
  <div class="flex items-center justify-between">
    <ThemeToggle />
    <nav class="ml-auto text-base font-medium space-x-6">
      <a href="/">Articles</a>
      <a href="/notes">Notes</a>
    </nav>
  </div>
</header>
