---
import Logo from "./Logo.astro"
---

<div class="pt-24 pb-12">
  <div class="flex items-center justify-center gap-4">
    <Logo class="size-12" /><h1 class="text-4xl font-black"></h1>
  </div>
  <div class="mt-4 p-3 text-center">
    <h3 class="text-4xl leading-none font-medium font-fancy">bit·whys</h3>
    <p class="text-cnt-supportive text-lg mt-2.5 font-mono">
      /ˈbit,(h)wīz/ &bull; <span class="font-medium">relative adverb</span>
    </p>
    <div class="leading-relaxed text-cnt-secondary text-base mt-2">
      <span class="font-semibold text-cnt-primary"
        >(with reference to a reason) on account of which; for which:</span
      > the reason why flu shots need repeating every year is because the virus mutates
      and changes over time.
    </div>
  </div>
</div>
