---
import astroLogo from "../assets/astro.svg"
import Logo from "./Logo.astro"
---

<div class="pt-24 pb-12">
  <div class="flex items-center justify-center gap-4">
    <Logo class="size-12" />
  </div>
  <!-- <p class="text-highlighted text-center text-balance mt-12">
    Logspot is an open source change log template made with Nuxt, Vue, and
    Tailwindcss. Subscribe to our newsletter to get the latest updates or follow
    us on <a
      href="https://twitter.com/fayazara"
      target="_blank"
      class="text-primary font-medium">twitter</a
    >.
  </p> -->
  <div class="mt-4 p-3 text-center">
    <h1 class="text-4xl leading-none font-medium font-heading">bit·whys</h1>
    <p class="text-cnt-secondary text-lg mt-2.5">
      /ˈbit, (h)wīz/ &bull; <span class="font-medium">relative adverb</span>
    </p>
    <div class="leading-relaxed text-cnt-secondary text-base mt-2">
      <span class="font-semibold"
        >(with reference to a reason) on account of which; for which:</span
      > the reason why flu shots need repeating every year is because the virus mutates
      and changes over time.
    </div>
  </div>
</div>
