---

---

<header class="fixed z-50 top-0 w-full h-16">
  <div
    id="inner-wrapper"
    class="[background:linear-gradient(var(--color-page),80%,transparent)] flex py-4.5 px-7 justify-between"
  >
    <a href="/">
      <span id="logo" class="text-sm font-mono tracking-widest">
        /ˈteknək(ə)l/
      </span>
    </a>
    <nav class="felx-1">
      <!-- TODO: navigation -->
    </nav>
  </div>
</header>
