---
import SiteHeader from "../components/SiteHeader.astro"
---

<!doctype html>
<html lang="en" class="" data-theme="">
  <head>
    <slot name="head" />
  </head>
  <body class="h-full antialiased bg-page bg-grid-pattern">
    <SiteHeader />
    <main class="relative pt-16">
      <slot />
    </main>
  </body>
</html>
