---
import { Font } from "astro:assets"
import "../styles/global.css"
import Header from "../components/Header.astro"
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--visby-font" preload />
    <Font cssVariable="--geliat-font" preload />
    <title>Astro Basics</title>
  </head>
  <body class="bg-white dark:bg-gray-900 antialiased">
    <Header />
    <div class="py-24">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl">
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
