---
// import Header from "../components/Header.astro"
// import Footer from "../components/Footer.astro"
import ThemeToggle from "../components/ThemeToggle.astro"
import { Font } from "astro:assets"
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--visby-font" preload />
    <Font cssVariable="--ibm-plex-mono-font" preload />
    <Font cssVariable="--bluu-next-font" preload />
    <script is:inline>
      document.documentElement.classList.toggle(
        "dark",
        localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches),
      )
    </script>
    <title>A Bit Technical</title>
  </head>
  <body class="antialiased min-h-screen bg-pagebg-secondary bg-grid-pattern">
    {/* TODO: ThemeProvider  */}
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="w-full mx-auto px-4 sm:px-6 lg:px-8 max-w-2xl">
        <ThemeToggle />
        <span
          class="absolute top-4 left-4 text-base font-medium font-heading tracking-widest"
        >
          /ˈteknək(ə)l/</span
        >
        <main>
          <slot />
        </main>
        <!-- <Footer /> -->
      </div>
    </div>
  </body>
</html>
